@import './variables/reset.scss';
@import './common.scss';

@include google-font('Poppins');
@include google-font('Jost');

:root {
  --main-color-0: #f6f2f6;
  --main-color-1: #dee2e6;
  --main-color-2: #e1d5d9;
  --main-color-3: #58545b;
  --main-color-4: #1c252c;
  --border-color: #6c7275;
  --deep-grey: #282c34;
  --red: #e45545;
  --green: #6d972e;
  --blue: #0353a4;
  --denim: #4758a4;
  --yellow: #ffe81f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  @include flex($flexDirection: column);
  min-height: 100vh;
  font-family: 'Poppins';
  font-size: 18px;
  color: var(--main-color-1);
}
