.common-btn {
  font-size: 18px;
  border: 1px solid var(--main-color-1);
  border-radius: 3px;
  padding: 5px;
  font-family: Jost;
  background: var(--main-color-3);

  &:hover {
    background: var(--blue);
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.common-input {
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  border-radius: 3px;
  font-family: Jost;
}
