@import '../../../app/styles/common.scss';

.todoList {
  @include flex($flexDirection: column, $alignItems: center);

  form {
    @include flex($gap: 10px);
  }
}

.table {
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0.5em;
}
